# Flutter / Dart
.dart_tool/
.packages
build/
coverage/
.pub-cache/

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Logs
*.log

# (Mantenemos Firebase config en el repo para compilar)
# NO ignoramos: android/app/google-services.json
# NO ignoramos: ios/Runner/GoogleService-Info.plist
# Flutter / Dart (extra)
.flutter-plugins
.flutter-plugins-dependencies

# IDEs extra
*.iml
