# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
**/generated_plugin_registrant.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
DerivedData/

# Web
web/.dart_tool/

# IDE
.vscode/
.idea/

# Logs / misc
*.log
*.iml

# Env
.env
*.env
admin/serviceAccountKey.json
